.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    width: 105px;
    height: 39px;
    position: relative;
    left: -50px;
    text-decoration: none;
}

.nav__links {
    color: #000;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 80px;
}

.nav__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    transition: opacity 0.5s;
}

.nav__link:hover {
    opacity: 0.5;
    color: #3f96f3;
}
